@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>📊 Thống kê tổng quan</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary p-3">
            <h5>Tổng số sách</h5>
            <p>@ViewBag.TotalBooks</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-success p-3">
            <h5>Tổng đơn hàng</h5>
            <p>@ViewBag.TotalOrders</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-warning p-3">
            <h5>Đơn hàng chờ xử lý</h5>
            <p>@ViewBag.PendingOrders</p>
        </div>
    </div>
</div>
